<form action='/platforms/new' method='POST'>
    <p>Name: <input id='name' type='text' name='name' required></p>
    <p>Manufacturer: <input id='manufacturer' type='text' name='manufacturer' required></p>
    <input id='submit' type='submit' name='submit' value='Create Platform'>
</form>