<style>
    div.hide {
        visibility: hidden;
    }
</style>
<h2>Please sign up below:</h2>
<form action='/signup' method='POST'>
    <p>Username: <input id='username' type='text' name='username'>
    Email: <input id='email' type='text' name='email'>
    Password: <input id='password' type='password' name='password'>
    <input id='submit' type='submit' value='Register'></p>
</form>
