<!DOCTYPE html>
<html>
    <head>
        <title>
            Online Video Game Database
        </title>
    </head>
    <body>
        <h1><a href='/' style="text-decoration: none; color: black;">Welcome!</a></h1>
        <%= yield %>
    </body>
</html>