<!DOCTYPE html>
<html>
    <head>
        <title>
            Online Video Game Database
        </title>
        <style>
            .plain_link {
                text-decoration: none;
                color: black;
            }

            button a {
                text-decoration: none;
                color: black;
            }

            body {
                background-color: lightblue;
            }

            header {
                border-style: outset;
                border-color: lightblue;
            }
        </style>
    </head>
    <body>
        <header>
            <% if Helpers.is_logged_in?(session) %>
                <% user = User.find(session[:id]) %>
                <h1><a href='/' class='plain_link'>Welcome <%= user.username.capitalize %>!</a></h1>
                <button><a href='/logout'>Logout</a></button>
                <button class='profile'><a href='/users/<%= user.slug %>'>Profile</a></button>
            <% else %>
                <h1><a href='/' class='plain_link'>Welcome guest!</a></h1>
                <div class='hide'>
                    <button><a href='/signup'>Sign Up</a></button>
                    <button><a href='/login'>Login</a></button>
                </div>
            <% end %>
        </header>
        <br>
        <%= yield %>
    </body>
</html>